<main class="container-fluid">
    <header class="row masthead"></header>
    <article class="row justify-content-center content">
        <h2 class="col-12 pt-md-5 mt-5 text-center">Cum să îţi găseşti chirie în Bucureşti?</h2>
        <section class="col-md-10 col-lg-9 col-xl-7 pt-5">
            <p>
                Lucrând în acest domeniu, ajutând mulți oameni să-și găsească “casa perfecta” am realizat că mulți
                oameni
                care
                iși caută chirie, întampină anumite greutăți atunci când iși aleg aprtamentul sau casa pe care vor să o
                închirieze. De aceea am decis să scriem un articol care să ajute persoanele care sunt în căutarea
                locuinței. Am
                selectat cele mai frecvente probleme pe care le-am întâlnit de-a lungul timpului, si am compus un ghid
                structurat in 4 pasi pentru a te ajuta sa-ti gasesti locuința perfecta.
            </p>

            <ol>
                <li class="pt-md-2">
                    Un lucru important pe care trebuie să-l faci atunci când te muți, este să te gândești bine la
                    criteriile
                    pe care
                    trebuie să le aibă apartamentul pe care îl cauți. Trebuie să ințelegi că atunci când îți imaginezi o
                    casă ideală
                    și o cauți neapărat pe aia, s-ar putea să nu existe. Criteriile de bază pe care ar trebui să ți le
                    stabilești
                    sunt:
                    <ul>
                        <li>numărul de camere</li>
                        <li>suprafața utilă</li>
                        <li>etaj</li>
                        <li>calitatea finisajelor și a mobilierului</li>
                    </ul>
                </li>
                <li class="pt-3">
                    In funcție de nevoile pe care ți le-ai stabilit în pasul anterior trebuie să-ți stabilești bugetul
                    și mai ales limita maximă (câți bani maxim poti să dai pe chirie), trebuie să fii realist și să
                    stabilești bugetul conform
                    situației din piață. Pentru asta, poti studia puțin ofertele din piață la momentul respectiv, să
                    vezi ce apartamente se inchiriază, ce finisaje au, și în ce zonă sunt situate. Poți cere sfatul unui
                    specialist imobiliar care îți inspiră încredere, consultanța imobiliară este un serviciu gratuit pe
                    care poti sa-l primești de la agenții buni din piață.
                </li>

                <li class="pt-3">
                    Un alt lucru important este să alegi zona de interes, aceasta trebuie aleasă în funcție de bugetul
                    stabilit în
                    pasul anterior. Fiecare zonă din Bucuresti are specificul său, și fiecare zonă are pețurile
                    diferite.
                    Contează
                    și distanța apartamentului de la metrou sau mijloace de transport în comun. În rezolvarea acestei
                    probleme te
                    ajută foarte mult un specialist imobiliar care este prezent zilnic in piața chiriilor, care cunoaște
                    specificul
                    zonelor si prețurile specifice acestora.
                </li>

                <li class="pt-3">
                    Următorul pas este sa începi căutarea în funcție de criteriile de zona, buget și preferințele pe
                    care le-ai stabilit. În caz că nu găsești ceea ce ți se potrivește, cel mai probabil nu ai stabilit
                    corect bugetul sau zona, deci recomandarea noastră în acest caz este să te întorci la pasul 1 și să
                    renunți la aspectele mai puțin
                    importante sau care nu sunt neapărat necesare, sau să mărești bugetul sau să cauți în altă zonă.
                    Urmatoarea figură te vă ajuta să ințelegi relația dintre zonă, buget și preferințe. De exemplu când
                    ai un buget restrâns sau foarte mic, trebuie să renunți la zona în care iți este comod să locuiești
                    și să alegi o
                    altă zonă unde ai mijloace de transport în comun, și să renunți la anumite preferințe pe care le ai
                    vis a vis de un apartament. Sau dacă este obligatoriu să locuiești într-o anumită zonă, atunci va
                    trebui să-ți ajutezi bugetul pentru acea zonă și să renunți la anumite preferințe pe care imobilele
                    din zona respectivă s-ar putea să nu le aibă.
                </li>
            </ol>
            <div class="row justify-content-center">
                <img class="triangle" src="assets/triangle.png" alt="triangle">
            </div>

            <p>
                În concluzie, pentru a găsi cea mai avantajoasă ofertă pentru tine din piață, este necesar să-ți
                stabilești din
                start criteriile după care iți vei căuta chirie, și să ințelegi că piața chiriilor, la fel ca și orice
                piață se
                formează în funcție de cerere și ofertă și trebuie să fii realist și să ai așteptări pe măsură atunci
                când iți
                cauți locuința. Nu refuza ajutorul specialistilor din domeniu, colaborează cu acei agenți imobiliari
                care dau
                dovadă de profesionalism, care iți oferă consultanță imobiliară de calitate, și urmăresc interesul tau,
                acela de
                a-ți pune la dispoziție cea mai potrivită ofertă pentru tine în momentul actual.
            </p>
        </section>
    </article>
</main>
<footer class="d-flex footer justify-content-center align-items-center mt-5">
    <span class="copyright">Copyright &copy; <a href="https://proimo.ro">Proimo Group</a></span>
</footer>
