.triangle {
    width: 500px;
    height: auto;
    @media screen and (max-width: 769px) {
        width: 350px;
    }
}

.content {
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
    @media screen and (max-width: 769px) {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.masthead {
    align-items: center;
    height: 10vh;
    min-height: 500px;
    background-image: url('../assets/real-estate.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.copyright {
    font-weight: 500;
    font-size: 15px;
}

.footer {
    height: 150px;
    background-color: rgb(237, 242, 247);
}
